.car {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
  padding: 20px;
  
  a:hover, a:focus{
    text-decoration: none;
  }
  
  a:hover figcaption, a:focus figcaption{
    color: $brand-primary !important;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .5s linear;
    transition: all .5s linear;
  }
  
  img {
    margin: 0 auto 12px auto;
    max-width: 100%;
    max-height: 74px;
  }
}
