$arrows-area: 56px;

.slick-detail-sync img {
  width: 100%;
}

.slick-car-detail {
  padding: 30px 0;
  margin: 0 $arrows-area;
  
  .slick-slide {
    outline: none;
    padding: 0 4px;
  }
  
  .slick-current {
    opacity: 0.5;
    filter: opacity(50%);
    padding-bottom: 4px;
    border-bottom: 2px solid $brand-secondary;
  }
}

.slick-arrow {
  margin-top: -$arrows-area / 2;
  color: $brand-secondary;

  &:first-child {
    left: -$arrows-area;
  }

  &:last-child {
    right: -$arrows-area;
  }
}
