@import "lib/bootstrap-sass/bootstrap/variables";

#conceptual-2-module{
  .title{
    background-color: rgba($brand-secondary, 1);
    display: table;
    height: 100px;
    padding: 15px;
    width: 100%;
  }
  
  h1{
    color: #fff;
    display: table-cell;
    font-weight: 700;
    font-size: 2.143em;
    margin-top: 0px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
  }
  
  .conceptual-banner{
    margin-bottom: 0;
    padding: 10px 0 0;
    width: 100%;
    
    .slick-slide{
      height: auto;
    }
    
    .slick-dots{
      margin: 0;
      position: static;
      li button:before{
        font-size: 10px;
      }
      li.slick-active button:before{
        color: $brand-primary;
      }
    }
  }
}

@media (min-width: $screen-xs-min) {
  
  #conceptual-2-module{
    h1{
      text-align: center;
    }
    
    .title{
      width: 100%;
    }
    .conceptual-banner{
      padding: 0;
      width: 100%;
    }
  }
  
}

@media (min-width: $screen-sm-min) {

  #conceptual-2-module{
    .title{
      float: left;
      height: 160px;
      padding: 0;
      width: 30%;
    }
    .conceptual-banner{
      float: left;
      width: 70%;
      img{
        height: 100%;
      }
      .slick-slide{
        height: 160px;
      }
      .slick-dots{
        bottom: 10px;
        margin: 0 0 0 30px;
        position: absolute;
        text-align: left;
        li button:before{
          font-size: 10px;
        }
        li.slick-active button:before{
          color: #fff;
        }
      }
    }
  }
  
}

@media (min-width: $screen-md-min){
  
  #conceptual-2-module{
    .title{
      height: 202px;
    }
    .conceptual-banner .slick-slide{
      height: 202px;
    }
  }
  
}

@media (min-width: $screen-lg-min){
  
  #conceptual-2-module{
    .title{
      float: left;
      height: 230px;
      width: 30%;
    }
    .conceptual-banner{
      width: 70%;
      .slick-slide{
        height: 230px;
      }
      
    }
  }
  
}