.box{
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  
  .title{
    margin: 2px 0 0 8px;
    .big{
      color: $brand-primary;
      text-transform: uppercase;
    }
  }
  
  .wrap-icon, .title, .hours{
    float: left;
  }
}