#header-module {
  
  // Tira bordas da barra
  .navbar, .navbar-static-top {
    border: 0;
    margin: 0;
  }

  // Define altura e alinha logomarca
  $logo-height: 40px;

  .navbar-brand {
    padding-top: (($navbar-height - $logo-height) / 2);
    padding-bottom: (($navbar-height - $logo-height) / 2);

    > img {
      height: $logo-height;
    }
  }

  //define uma borda transparente e que se aprensenta como link sublinhando a ancora
  $link-border-bottom-width: 3px;

  .navbar-nav > li > a {
    border-bottom-width: $link-border-bottom-width;
    border-bottom-style: solid;
    border-bottom-color: transparent;

    &:hover,
    &:focus {
      border-bottom-color: $brand-secondary;
      -webkit-transition: all .5s linear;
      -moz-transition: all .5s linear;
      -o-transition: all .5s linear;
      -ms-transition: all .5s linear;
      transition: all .5s linear;
    }

    @media (min-width: $grid-float-breakpoint) {
      padding-right: 14px;
      padding-left: 14px;
      padding-bottom: $navbar-padding-vertical - $link-border-bottom-width;
    }

    @media (max-width: $screen-md-max) {
      padding-right: 7px;
      padding-left: 7px;
    }

    > .glyphicon {
      color: #ddd;
      font-size: 0.875em;
    }
  }
  
  .navbar-toggle {
    border-radius: 4px;
  }
  
  @media (min-width: $grid-float-breakpoint) {
    @import "lib/yamm/yamm";
    
    .dropdown-menu {
      border-top-color: $gray-lighter;
      padding: 0;
      border-radius: 0px;
      
      .yamm-content {
        padding: 0;
      }
    }
    
    // Dropdown carros novos
    .tab-content {
      border-width: 0px 1px 1px 1px;
      border-style: solid;
      border-color: $gray-light;
      min-height: 141px;
    }

    @media (max-width: $screen-md-max) {
      .navbar-nav > li > a {
        font-size: 0.915em;
      }
    }
  }
}
