#newsletter-module{
  h2{
    color: #202020;
    font-size: 1.929em;
    font-weight: 700;
  }
  button{
    padding: 10px 30px;
  }
}

@media (min-width: $screen-lg-min){
  
  #newsletter-module{
    h2{
      margin: 5px 0 0 0;
    }
    
    button{
      padding: 10px 25px;
    }
    
  }
  
}