@import 'base/info-box';

#acessories-form-module{
  .acessories-form{
    h2{
      text-transform: inherit;
    }
    
    .form-group label{
      color: #a3a3a3;
      font-size: 0.786em;
      margin-left: 18px;
      text-transform: uppercase;
    }
    
    .icon-container i{
      left: 33px;
      margin-top: 5.5px;
    }
    
    textarea{
      height: 118px;
    }
    
    button{
      margin: 20px 0;
      padding: 10px 123px;
    }
    
  }
}