.schedule-granvia{
  .title-float-icon {
    width: 100% !important;
  }
  
  i {
    color: $brand-secondary;
  }
  
  .schedule{
    background-color: #ededed;
    padding: 30px;
  }
  
  .time{
    margin: 20px 0 0 0;
    &:first-child{
      margin: 0;
    }
  }

  h2, h3{
    color: #202020;
    font-weight: 700;
  }

  h2{
    margin: 8px 0 22px 0;
    font-size: 1.929em;
    position: relative;
    
    &::after {
      content: '';
      display: block;
      background: $brand-secondary;
      height: 4px;
      max-width: 120px;
      width: 100%;
      margin: 22px auto 0 auto;
    }
//    text-transform: uppercase;
  }

  h3{
    margin: 0 0 4px 0;
    font-size: 1.25em;
  }

  h4{
    font-weight: 700;
    margin: 0 0 3px 0;
    text-transform: uppercase;
  }

  time{
    display: block;
    font-size: 0.857em;
  }

  a{
    font-size: 0.857em;
    font-weight: 700;
  }
  
}

@media (min-width: $screen-sm-min) {
  
  #schedule-module{
    .time{
      margin: 10px 0;
      &:first-child{
        margin: 10px 0;
      }
    }
  }
  
}

@media (min-width: $screen-md-min) {
  
  #schedule-module{
    h2 {
      font-size: 1.729em;
    }
  }
  
}

@media (min-width: $screen-lg-min){
 
  #schedule-module{
    h2 {
      font-size: 1.929em;
    }
  }
  
}