.nav-tabs, .nav-pills {
  > li {
    font-size: 0.785em;
    text-transform: uppercase;
    text-align: center;
    color: $gray;

    > a {
      border-color: $gray-light;
      border-radius: 0 !important;
      border-style: solid;
//      border-width: 1px 1px 1px 0px !important;
      border-width: 1px !important;
      margin: 0;
      min-width: 200px;
    }

    &:first-child a {
      border-left-width: 1px !important;
    }

    :not(.active) {
      background-color: #f8f8f8;
      border-color: $gray-light !important;
    }
    
    &.active > a {
      background-color: #fff !important;
      color: inherit !important;
    }
  }
}

// Para abas encostadas nao repetirem borda
.nav-tabs > li {
  > a {
    border-width: 1px 1px 1px 0px !important;
  }
  
  &:first-child {
    border-left-width: 1px !important;
  }
}


.nav-pills > li {
  margin: 0 !important;
  
  > a {
    border-width: 1px 1px 0px 1px !important;
  }

  &:last-child {
    border-bottom-width: 1px !important;
  }
}

.tab-pane, .tab-content {
  background-color: #fff;
}
