.used-car {
  border-style: solid;
  border-width: 1px 1px 3px 1px;
  border-color: $gray-light $gray-light $brand-secondary $gray-light;

  .car-properties {
    padding: 22px 32px;
  }
  
  .price {
    font-weight: bold;
    color: $brand-secondary;
  }
  
  h3 {
    font-weight: bold;
    margin: 4px 0;
    text-transform: uppercase;
  }
  
  .year-model {
    color: $gray;
  }
  
  .properties-list {
    margin-top: 8px;
    
    dt {
      font-weight: normal;
    }
  }
  
  .btn {
    padding: 10px 40px;
    text-transform: uppercase;
  }
  
  @media (min-width: $screen-md-min) {
    .car-properties {
      padding-left: 0;
    }
  }
}
