<div id="about-content-module">
  <div class="">
    <div class="sobre row">
      <div class="col-xs-12 col-md-6">
        <h2>
          <small>Sobre a</small>
          <span class="big">Eurovia</span>
        </h2>
        <div class="conteudo">
          <p>A EUROVIA iniciou suas operações em 1998 com a inauguração da concessionária Renault em Recife, expandindo suas operações para as praças de Salvador e Fortaleza. Hoje é a maior revendedora de carros e utilitários das marcas RENAULT e NISSAN da região Nordeste. Faz parte do grupo Viasul que congrega as concessionárias VIASUL FIAT, Intervia-KIA e Granvia Ford.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2>
          <small>Evolução</small>
          <span class="big">Eurovia</span>
        </h2>
        <div class="conteudo">
          <ul>
            <li>1998 - Eurovia Renault Recife - Loja Imbiribeira</li>
            <li>2000 - Eurovia Renault Recife - Loja Piedade</li>
            <li>2002 - Eurovia Renault Recife - Loja Afogados</li>
            <li>2002 - Eurovia Renault Recife - Loja Imbiribeira - Seminovos</li>
            <li>2006 - Eurovia Renault Salvador</li>
            <li>2009 - Eurovia Renault Fortaleza</li>
            <li>2013 - Eurovia Renault Lauro de Freitas</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>