<div class="car">
  <a href="">
    <figure>
      <img src="{{ carro.image[0].image }}" alt="{{ carro.name }}">
      <figcaption>{{ carro.name }}</figcaption>
    </figure>
  </a>
  
  <a href="" class="btn btn-see-more">Ver mais <i class="fa fa-chevron-right"></i></a>
</div>
