<section class="car-carousel">
  <div class="tabs-container">
    <div class="container">
      <h2>Escolha seu carro</h2>
    </div>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="container tab-pane active" id="car-carousel-1">
      <ul class="slick-car">
        {% for carro in carros %}
        <li>{% include 'car.html' %}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
