<div id="cars-list-structure-module">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% for categoria in categorias %}
          <div class="car-category">
            <h2>{{ categoria.name }}</h2>
             {% for carro in carros if categoria.id == carro.category[0].id %}
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                {% include 'car-2.html' %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>