<div id="conceptual-2-module">
  <div class="">
    <div>
      <div class="title">
        <h1>{{ title }}</h1>
      </div>
      <div class="conceptual-banner slick-conceptual">
        <img src="../assets/images/conceptual-parts.png" alt="">
        {# for b in banners if b.location == 'interna' %}
          <div>
            <img class="img-responsive" src="{{ b.image }}" alt="">
          </div>
        {% endfor #}
      </div>
    </div>
  </div>
</div>