<div id="direct-form-module">
  <div class="col-xs-12">
    <h2>
      <small>Preencha o Formulário e</small>
      <span class="big">Solicite Cotação</span>
    </h2>
  </div>
  <form action="">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 icon-container form-group">
      <label for="name">Nome</label>
      <i class="fa fa-user"></i>
      <input name="name" id="name" type="text" placeholder="Nome" class="form-control">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon-container form-group">
      <label for="phone">Telefone</label>
      <i class="fa fa-phone"></i>
      <input name="phone" id="phone" type="text" placeholder="Telefone" class="form-control">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon-container form-group">
      <label for="email">E-mail</label>
      <i class="fa fa-envelope"></i>
      <input name="email" id="email" type="text" placeholder="E-mail" class="form-control">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon-container form-group">
      <label for="city">Cidade</label>
      <i class="fa fa-map-marker"></i>
      <input name="city" id="city" type="text" placeholder="Cidade" class="form-control">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon-container form-group">
      <label for="state">Estado</label>
      <i class="fa fa-map-marker"></i>
      <select name="state" id="state" class="form-control">
        <option value="">Selecione</option>
        <option value="ac">Acre</option>
        <option value="al">Alagoas</option>
        <option value="am">Amazonas</option>
        <option value="ap">Amapá</option>
        <option value="ba">Bahia</option>
        <option value="ce">Ceará</option>
        <option value="df">Distrito Federal</option>
        <option value="es">Espírito Santo</option>
        <option value="go">Goiás</option>
        <option value="ma">Maranhão</option>
        <option value="mt">Mato Grosso</option>
        <option value="ms">Mato Grosso do Sul</option>
        <option value="mg">Minas Gerais</option>
        <option value="pa">Pará</option>
        <option value="pb">Paraíba</option>
        <option value="pr">Paraná</option>
        <option value="pe">Pernambuco</option>
        <option value="pi">Piauí</option>
        <option value="rj">Rio de Janeiro</option>
        <option value="rn">Rio Grande do Norte</option>
        <option value="ro">Rondônia</option>
        <option value="rs">Rio Grande do Sul</option>
        <option value="rr">Roraima</option>
        <option value="sc">Santa Catarina</option>
        <option value="se">Sergipe</option>
        <option value="sp">São Paulo</option>
        <option value="to">Tocantins</option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
      <label for="message">Mensagem</label>
      <textarea name="message" id="message" cols="30" rows="5" class="form-control"></textarea>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-default" type="submit">Enviar</button>
    </div>
  </form>
</div>