<div id="direct-structure-module">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        {% include 'conceptual.html' %}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="row">
          {% include 'direct-sale-info.html' %}
        </div>
      </div>
      <div class="direct-form col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="row">
          {% include 'direct-sale-form.html' %}
        </div>
      </div>
    </div>
  </div>
</div>