<div class="direct-info-module">
  <div class="col-xs-12">
    <h2>
      <small>Veículos e Serviços para a sua Empresa</small>
      <span class="big">Clientes Empresariais</span>
    </h2>
    <p class="description">Conheça nossos veículos e serviços feitos para você que é dono de grande ou pequeno negócio, profissional autônomo ou autoridade local.</p>
  </div>
  <div class="col-xs-12 col-md-6">
    <img src="assets/images/venda-1.png" alt="">
    <h3>Veículos de Passeio</h3>
    <p>Nossas equipes e concessionárias estão prontas para entender a sua necessidade e ajudar no que for preciso para o seu negócio. Conheça a linha e fale com um de nossos representantes.</p>
  </div>
  <div class="col-xs-12 col-md-6">
    <img src="assets/images/venda-2.png" alt="">
    <h3>Renault Pro+</h3>
    <p>A Renault Pro+ é a solução que a sua empresa precisa para continuar crescendo. Conheça nossa rede de concessionárias especializadas em clientes profissionais ou empresas que precisam encontrar melhores alternativas para o seu negócio, com um tratamento diferenciado e ágil.</p>
  </div>
</div>