<div class="highlights-module">
  <div class="high-item high-background" style="background-image: url({{ destaque.image }})" >
    <h2>{{ destaque.title }}</h2>
    <p>{{ destaque.subtitle }}</p>
    <a href="" class="btn btn-default">{{ destaque.button }}</a>
  </div>
</div>