<div id="our-stores-module">
  <div class="container">
    <div class="row">
      <h2><i class="fa fa-map-marker"></i> Nossos Endereços</h2>
      {% for loja in lojas %}
      <div class="col-xs-12 col-sm-6 col-md-4">
        {% include 'store.html' %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>