<header id="header-module">
  <nav class="navbar-contacts">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <button class="btn-location" data-toggle="popover" data-content="
            <ul class='location-select'>
              {% for l in locales %}
                <li {% if loop.first %}class='active'{% endif%}><a href=''><b>{{ l }}</b></a></li>
              {% endfor %}
            </ul>
          " data-placement="bottom" data-html="true" data-container=".btn-location">
            Você está em<br><b>Pernabuco</b>
            <i class="rw rw-chevron-down" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-8">
          <ul class="contacts">
            <li>
              <span><i class="fa fa-phone" aria-hidden="true"></i></span>
              <span>Telefone para contato:</span>
              <a class="phone" href="tel:8133331234">(81)&nbsp;3333.1234</a>
            </li>
            <li>
              <span><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
              <span>Whatsapp:</span>
              <a class="phone" href="tel:81992238565">(81)&nbsp;99223.8565</a>
            </li>
            <li>
              <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
              <span>Agendamento:</span>
              <a class="phone" href="tel:81992238565">(81)&nbsp;99223.8565</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="list-inline social-list">
            <li>
              <a href=""><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-default navbar-static-top yamm">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Navegação alternativa</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="../../src/images/logo.png" alt="Granvia Logo" class="logo">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if not mobile %}
          <!-- Dropdown de carros novos -->
          <li class="dropdown yamm-fw visible-md visible-lg">
            <a class="dropdown-toggle disabled" data-toggle="dropdown" href="#lista-novos">0 km <span class="glyphicon glyphicon-chevron-down"></span></a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">
                  <ul class="nav nav-tabs nav-justified" role="tablist">
                    {% for categoria in categorias %}
                    <li role="presentation" {% if loop.first %}class="active"{% endif %}>
                      <a href="#dropdown-car-{{ categoria.id }}" aria-controls="{{ categoria.name }}" role="tab" data-toggle="tab">
                        {{ categoria.name }}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                  
                  <div class="tab-content">
                    {% for categoria in categorias %}
                    <div role="tabpanel" class="tab-pane{% if loop.first %} active{% endif %}" id="dropdown-car-{{ categoria.id }}">
                      <ul class="row">
                        {% for carro in carros if categoria.id == carro.category[0].id %}
                        <li class="col-md-2">
                          {% include 'car.html' %}
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </li>
            </ul>
          </li>
          {% endif %}
          <li class="visible-xs visible-sm"><a href="#lista-novos">0 km</a></li>
          <li><a href="">Ofertas</a></li>
          <li><a href="">Consórcio</a></li>
          <li><a href="">Seminovos</a></li>
          <li><a href="">Peças</a></li>
          <li><a href="">Oficina</a></li>
          <li><a href="">Quem somos</a></li>
          <li><a href="">Fale conosco</a></li>
          <li><a href="">Venda direta</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
