<div id="schedule-2-module" class="schedule-granvia">
  <div class="schedule">
    <div class="row">
      <div class="time col-xs-12">
        <h2 class="title-float-icon">
          <i class="fa fa-clock-o"></i><br>
          Horário de Atendimento
        </h2>
      </div>
      {% for i in 1..6 %}
      <div class="time col-xs-12 col-md-4">
        <h3>EUROVIA RENAULT - Lauro de Freitas</h3>
        <time>
          Segunda a sexta: 7:00h&nbsp;às&nbsp;18:00h<br>
          Sábado: 8:00h&nbsp;às&nbsp;12:00h
        </time>
      </div>
      {% endfor %}
    </div>
  </div>
</div>