<div id="schedule-module" class="schedule-granvia container">
  <div class="schedule">
    <div class="row">
      <div class="time col-xs-12" style="text-align: center;">
        <i class="fa fa-calendar fa-2x"></i>
        <h2>Agendamento de Serviços</h2>
      </div>
      {% for i in 1..6 %}
      <div class="time col-xs-12 col-sm-6 col-md-4">
        <h3>EUROVIA RENAULT - Lauro de Freitas</h3>
        <time>
          Segunda a sexta:<wbr> 7:30h&nbsp;às&nbsp;17:30h <br>
          Sábado: 8:00h&nbsp;ao&nbsp;12:00h
        </time>
      </div>
      {% endfor %}
    </div>
  </div>
</div>