<div class="used-car">
  <div class="row">
    <div class="col-xs-12 col-md-7 col-lg-5">
      <a href="{{ carLink }}">
        <img src="assets/images/renault-fluence.png" alt="Renault Fluence" class="img-responsive">
      </a>
    </div>
    
    <div class="col-xs-12 col-md-5 col-lg-7">
      <div class="car-properties">
        <span class="price">R$ 50.000.000</span>
        
        <a href="{{ carLink }}">
          <h3>Renault Fluence Fastback Titanium Plus 2.0 AT</h3>
        </a>
        
        <span class="year-model">2015/2015</span>
        
        <div class="row">
          <div class="col-xs-12">
            <dl class="row properties-list">
              <dt class="col-xs-6 col-lg-3">Ano</dt>
              <dd class="col-xs-6 col-lg-3">2012/2013</dd>

              <dt class="col-xs-6 col-lg-3">Quilometragem</dt>
              <dd class="col-xs-6 col-lg-3">120.054</dd>
              
              <dt class="col-xs-6 col-lg-3">Cor</dt>
              <dd class="col-xs-6 col-lg-3">Preto</dd>
              
              <dt class="col-xs-6 col-lg-3">Câmbio</dt>
              <dd class="col-xs-6 col-lg-3">Automático</dd>
            </dl>
          </div>
          
          <div class="col-xs-12">
            <a href="" class="btn btn-primary">Ver oferta</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
