<div class="workshop-info">
  <h2>
    <small>Assistência</small>
    <span class="big">Técnica</span>
  </h2>
  <p>A Eurovia se destaca das demais concessionárias pela qualidade e variedade nos serviços prestados. Certificada com os padrões de Atendimento Renault, tanto para área de vendas como de pós-vendas, a Eurovia segue todas as normas estabelecidas pela montadora, garantindo um atendimento diferenciado para seus clientes na hora da compra e também nos serviços de manutenção. Segurança e confiança nos serviços, com pontualidade nos prazos, são as marcas registradas da Eurovia. É isso que faz da gente uma concessionária de verdade.</p>
  
  {% include 'info-box-2.html' %}
  
  <h2>
    <small>Conheça o</small>
    <span class="big">Autocentro</span>
  </h2>
  <p>Desde a sua inauguração, a concessionária Eurovia conta com o sistema Renault Autocentro para facilitar a vida dos seus clientes. Depois foi a vez da Eurovia Piedade incluir mais essa comodidade no seu leque de serviços.
Com um novo conceito em atendimento na área de pós-vendas, o Renault Autocentro consiste numa oficina, localizada em uma área coberta dentro da concessionária, para realização de pequenas tarefas em até quatro horas.
Lá tudo é mais rápido e barato, e você pode ir no horário que lhe for mais conveniente. Caso prefira, também pode agilizar o serviço realizando um agendamento prévio. Além disso, o cliente pode acompanhar de perto todo o trabalho realizado pelo mecânico enquanto aguarda a liberação do seu veículo. No Renault Autocentro também podem ser encontrados kits de peças com pagamentos facilitados e, o melhor, com a mão-de-obra inclusa.
Desse modo, a Eurovia coloca, ao alcance de seus clientes, serviços totalmente garantidos com a qualidade das peças originais Renault.</p>
  <h2>
    <small>Funilaria</small>
    <span class="big">e pintura</span>
  </h2>
  <p>O Centro de Repintura Automotiva da Eurovia oferece um serviço de qualidade e dentro do prazo de entrega estabelecido.
Equipamentos de última geração – como as lixadeiras pneumáticas, ideais para a remoção da pintura antiga, e um aparelho que faz a leitura exata do veículo – dão a garantia de 5 anos para os trabalhos realizados.
O Centro de Repintura da Eurovia está pronto para receber seu veículo 24 horas por dia. Tudo para seu bem-estar e conforto.
Com o objetivo de prestar serviços rápidos, de até um dia, para mossas e arranhões, o programa Sempre Novo da Eurovia funciona para quem procura praticidade e preço baixo.
Nele, a Eurovia conta com profissionais qualificados pelo padrão Renault, além de equipamentos especiais e materiais de alta qualidade.</p>
</div>