{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block content %}
{% set title = '<small>Ofertas Renault</small> <br> <big>Eurovia</big> <br> APROVEITE AS MELHORES OFERTAS <br> DA renault AGORA MESMO.' %}
{% set img = 'conceptual-ofertas.png' %}

{% include 'shared/offers-structure.html' %}

{% include 'shared/load-css.html' with {'css': 'offers.css'} %}
{% endblock %}