@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/interna-style";

#about-structure-module{
  padding: 30px 0 0;
  
  #about-content-module{
    padding: 0 0 40px;
    p{
      font-size: 1em;
    }
    li{
      margin: 7px 0;
    }
  }
  
  #our-stores-module{
    background-color: #e9edee;
    padding: 30px 0;
    h2{
      color: #505050;
      font-size: 1.929em;
      font-weight: 700;
      margin: 0 0 30px 0;
      text-align: center;
      text-transform: capitalize;
      i{
        color: $brand-secondary;
      }
    }
  }
  
  .store-module{
    font-weight: 700;
    img{
      width: 100%;
    }
    h3{
      color: $brand-secondary;
      font-size: 1.286em;
      font-weight: 700;
      text-transform: uppercase;
    }
    p{
      height: 50px;
      font-size: 1.071em;
    }
  }
}