@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/form";
@import "base/technical-sheet";

main {
  margin-top: 30px;
}

.car-info {
  margin-top: 30px;
}

h1 {
  font-size: 1.95em;
  font-weight: bold;
  margin-bottom: 26px;
  color: $brand-primary;
}

h2 {
  margin: 0 0 14px 0;
  font-weight: bold;
  color: $brand-primary;
}

#new-gallery, .especificacoes {
  h2 {
    border-top: 1px solid $gray-light;
    padding-top: 30px;
  }
}

p {
  color: $gray;
}

#new-car {
  width: 100%;
}

.new-car-colors > li a {
  margin: 0 !important;
  display: block;
  border: 1px solid $gray-light;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.test-drive-btn {
  display: block;
  margin-top: 30px;
  background-color: $brand-primary;
  line-height: 22px;
  padding: 24px 15px;
  font-size: 17px;
  width: 265px;
  height: 90px;
  text-align: left;
  color: #fff !important;
  border-radius: 0;
  
  &, &:active {
    background-image: url(../images/ford-logo.png);
  }
  
  small {
    display: block;
    font-size: 15px;
  }
}

$arrows-area: 30px;

.slick-arrow {
  margin-top: -10px;

  &:first-child {
    left: -$arrows-area;
  }

  &:last-child {
    right: -$arrows-area;
  }
}

.slick-new-gallery {
  margin: auto $arrows-area;
  
  .slick-slide {
    padding: 0 5px;
  }
  
  i {
    height: 20px;
    width: 20px;
  }
}

@media (min-width: $screen-md-min) {
  .highlight-form {
    background-color: #fff;
    padding: 30px 30px 0px 30px;
    border-radius: 4px;
    box-shadow: 0px 3px 46px 0px rgba(0, 0, 0, 0.32);
  }
}

.gallery-modal .modal-dialog {
  width: 65%;
  
  img {
    width: 100%;
    max-height: 100%;
  }
}
