@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/interna-style";

#cars-list-structure-module{
  .car-category{
    margin: 15px 0;
    overflow: hidden;
    
    h2{
      color: #4c4c4c;
      font-weight: 700;
      padding: 5px;
      font-size: 2em;
      text-align: center;
      
      &::before {
        content: '';
        position: absolute;
        height: 10px;
        background-color: #e6e6e6;
        width: calc(50% - 160px);
        left: 0;
        margin-top: 0.35em;
      }
      
      &::after {
        content: '';
        position: absolute;
        height: 10px;
        background-color: #e6e6e6;
        width: calc(50% - 160px);
        right: 0;
        margin-top: 0.35em;
      }
    }
    
    .car {
      padding-bottom: 80px;
      
      figcaption{
        position: absolute;
        top: 0px;
        color: #4c4c4c;
      }
      
      .btn-see-more {
        position: absolute;
        left: 30px;
        border: 1px solid $gray-light;
        padding: 5px 12px;
        font-size: 1em;
        text-align: left;
        font-weight: bold;
        
        i {
          color: $brand-secondary;
          float: right;
          margin-left: 22px;
        }
      }
    }
  }
}