@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/schedule-grid";
@import "base/form";
@import "base/interna-style";

#contact-structure-module{
  padding: 30px 0;
  .contact-form{
    .form-group label{
      color: #a3a3a3;
      font-size: 0.786em;
      margin-left: 18px;
      text-transform: uppercase;
    }
    .icon-container i{
      margin-top: 5.5px;
      left: 33px;
    }
    textarea{
      height: 118px;
    }
    button{
      margin: 20px 0;
      padding: 10px 123px;
    }
  }
  
  #schedule-2-module{
    margin: 20px auto 0 auto;
    .time{
      margin-bottom: 30px;
      
      h2{
        text-align: center;
        font-size: 1.7em;
      }
      h3 {
        font-size: 1em;
      }
    }
  }  
}

@media (min-width: $screen-xs-min){
  
  #schedule-2-module{
    .time{
      i{
        font-size: 40px !important;
        margin-bottom: 12px !important;
      }
      h2{
        margin: 0 0 0 12px !important;
        text-transform: none;
        font-size: 27px;
        letter-spacing: 3px;
      }
    }
  }
  
}

@media (min-width: $screen-sm-min){
  
  #schedule-2-module{
    .time{
      i{
        width: 100%;
      }
      h2{
        margin: 15px 0 0 0;
        width: 100%;
      }
    }
  }
  
}

@media (min-width: $screen-lg-min){
  
  #schedule-2-module{
    .time{
      text-align: left;
      i{
        font-size: 100px;
        margin: 18px 30px 0;
        width: auto;
      }
      h2{
        margin: 35px 0 0 0;
        width: 270px;
      }
    }
  }
  
}