@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/form";
@import "base/interna-style";

#direct-structure-module{
  padding: 30px 0;
  
  .direct-info-module{
    padding: 0 15px;
    .description{
        font-size: 1.143em;
    }
    img{
      width: 100%;
    }
    h3{
      font-size: 1em;
      font-weight: 700;
      margin: 20px 0 15px; 
      text-transform: uppercase;
    }
  }
  
  .icon-container i{
    left: 33px;
  }
  
  .btn{
    margin: 10px 0 30px;
    padding: 10px 0;
    width: 100%;
  }

  .direct-form .row{
    padding: 15px;
    h2{
      margin: 0 0 10px 0;
    }
  }
  
}

@media (min-width: $screen-md-min){
  #direct-structure-module{
    #conceptual-module h1{
        font-size: 1.89em;
    }
    
    .direct-info-module{
      padding: 0;
    }
    
    .direct-form .row, .tabs .row{
      padding: 0px;      
    }
  }
}

@media (min-width: $screen-lg-min){
    #direct-structure-module{
    #conceptual-module h1{
        font-size: 2.143em;
        }
    }
    
}