@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/form";
@import "base/used-filter";
@import "base/used-car";

main {
  margin-top: 30px;
}

h1 {
  margin-top: 0;
  color: $brand-secondary;
  border-left: 3px solid $brand-secondary;
  padding-left: 4px;
  font-weight: bold;
  font-size: 2em;
}

h2 {
  color: $gray-dark;
  font-size: 1.25em;
  margin-top: 8px;
}

.seach-result {
  margin: 4px 0 2px 0;
}

.used-cars {
  border-top: 1px solid $gray-light;
  padding-top: 20px;
  
  li:not(:last-child) {
    margin-bottom: 30px;
  }
}

.filter-control {
  color: $gray-light;
  border: 1px solid $gray-light;
  padding: 4px 16px;
  margin: 8px 0;
  
  label {
    margin-right: 18px;
  }
  
  i {
    float: right;
  }
}

.find-results {
  margin-bottom: 12px;
}

#order-by-criteria {
  outline: 0;
  border: 0;
  background-color: transparent;
  
  &, option {
    color: $gray;
  }
}
