@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/form";
@import "base/interna-style";

#work-structure-module{
  padding: 30px 0;
  
  #work-form-module{
    .work-form{    
      .form-group label{
        color: #a3a3a3;
        font-size: 0.786em;
        margin-left: 18px;
        text-transform: uppercase;
      }
      .icon-container i{
        left: 33px;
        margin-top: 5.5px;
      }
      textarea{
        height: 196px;
      }
      button{
        margin: 20px 0;
        padding: 10px 123px;
      }
    }
  }
}

@media (min-width: $screen-sm-min){
  #work-structure-module{
    #conceptual-module h1{
      font-size: 1.88em;
    }
  }
}

@media (min-width: $screen-md-min){
  #work-structure-module{
    #conceptual-module h1{
      font-size: 1.9em;
    }
  }
}

@media (min-width: $screen-lg-min){
  #work-structure-module{
    #conceptual-module h1{
      font-size: 2.143em;
    }
  }
    
}